<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8">
    <title>Yelp Search</title>
  </head>
  <body>
    <center>
    <h1>Yelp Search</h1>
  </center>
    <div class="container">
        <center>
        <form action="/index" method="post">
          <input name="term" type="text" class="ghost-input" placeholder="Enter a key term..." required>
          <input name="location" type="text" class="ghost-input" placeholder="Enter a location..." required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
          <p><%= results %></p>
      </center>
    </div>
  </body>

</html>
