<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8">
    <title>Yelp Search</title>
  </head>
  <body>
    <center>
    <h1>Sign in.</h1>
  </center>
    <div class="container">
        <center>
        <form action="/login"  method="post">
          <input name="email" type="text" class="ghost-input" placeholder="Email Address" required>
          <br>
          <input name="password" type="text" class="ghost-input" placeholder="Password" required>
          <br>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
      </center>
    </div>
  </body>
</html>
